
:root {
	--main-item-size: 100px;
	--main-item-size-wide: 300px;
}

body {
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
	/*font-family: 'Lobster', cursive;*/
}

@media (min-width: 85.4rem){
    .content{
        width:85rem;
        max-width: 1024px;
    }
}
@media (max-width: 85.4rem){
    .content{
        width:64rem;
    }
}
@media (max-width: 65rem){
    .content{
        width:100%;
        padding:0 1rem;
    }
}

.content {
	margin: 0 auto;
}
.wrapper {
	/*width: 2048px;*/
	/*border: 1px solid red;*/
	overflow-x: scroll;
	white-space: nowrap;
	display: flex;
    align-items: flex-end;
	max-width: 1900px;
	margin: auto;
}

.wrapper.downwards {
	color: red;
	flex-direction: row;
	white-space: normal;
	overflow-x: none;
	align-items: flex-start;
	max-width: calc(var(--main-item-size-wide) + 5);
	display:block;
}

.column {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100px;
	margin:auto;
	margin-bottom: 0;
}

.wrapper.downwards .column {
	/*flex-direction: row;*/
	color: black;
	width: var(--main-item-size-wide);
}

.column h2 {
	width: 90%;
	font-size: 30px;
    font-size: .85vw;
    white-space: normal;
    text-align: center;
}

.item {
	border:1px solid grey;
	position: relative;
	width: var(--main-item-size);
	height: var(--main-item-size);
	white-space: normal;
	
	display: flex;
	/*flex-direction: column;*/
	justify-content: center;
}

.wrapper.downwards .item {
	width: var(--main-item-size-wide);
	height: var(--main-item-size-wide);
}

.itemName {
	display: inline-block;
	
	color:blue;
	height: auto;
	width: auto;
	border: 1px solid;
}
/*.item:before {
	content: "";
	display: block;
	padding-top: 100%;
}
*/
.item .symbol {
	/*font-family: 'Lobster', cursive;*/
	font-size: 2em;
	font-weight: 1000;
	display: block;
}

.item .name {
	/*display: none;*/
}